
        <%- contentFor('body') %>

    <div class="container-fluid">

        <h3>
            Nova Editora
        </h3>
        <hr>
        <br>
        
<!-- aponta para o roteamento-->        
        <form action="/editoras/salvar" method="post">

            <div class="form-group row">
                <div class="col-md-1">
                    <label>Codigo: </label>
                    <input type="text" value="<%= editora[0].edt_codigo%>" name="edt_codigo" class="form-control" placeholder="Codigo" size="5" readonly>
                </div>
                <br>

                <div class="col-md-5">
                    <label>Data Cadastro: </label>
                    <input type="date" value="<%= editora[0].edt_dtcadastro%>" name="edt_cadastro" class="form-control">
                </div>
                <br>

                <div class="col-md-2">
                    <label>Nome: </label>
                    <input type="text" class="form-control" value="<%= editora[0].edt_nome%>" name="edt_nome" placeholder="Nome" size="15" maxlength="10">
                </div>
                <br>

                <div class="col-md-2">
                    <label>Cidade: </label>
                    <input type="text" class="form-control" value="<%= editora[0].edt_cidade%>" name="edt_cidade" placeholder="Isbn" size="25" maxlength="20">
                </div>
                <br>

                <div class="col-md-2">
                    <label>CEP: </label>
                    <input type="text" class="form-control" value="<%= editora[0].edt_cep%>" name="edt_cep" placeholder="Ano" size="9" maxlength="9">
                </div>
                <br>    
    
            </div>
            <div class="form-group row">
                <div class="col-md-6"></div>
                <div class="col-md-3">
                    <button type="submit" class="btn btn-primary btn-block">Salvar </button>                    
                </div>
                <br>
                <div class="col-md-3">
                    <a class="btn btn-secondary btn-block" href="/editoras/listar">Voltar</a>
                </div>
            </div>
        </form>
        <hr>
    </div>

	    
</body>

</html>